In [4]:
import pandas as pd
import numpy as np

In [7]:
csv_path = "Raw Data/Cost_of_living_index.csv"
col_df = pd.read_csv(csv_path)
col_df.head()

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,"Hamilton, Bermuda",137.56,103.03,121.21,126.56,151.77,114.19
1,2,"Zurich, Switzerland",128.65,62.62,97.39,127.35,127.14,142.39
2,3,"Basel, Switzerland",126.89,46.14,88.66,120.44,129.10,141.48
3,4,"Lausanne, Switzerland",119.62,50.35,86.83,116.35,122.83,132.58
4,5,"Bern, Switzerland",118.42,39.22,80.93,114.54,114.86,115.48

In [8]:
colUS = col_df.loc[

SyntaxError: invalid syntax (<ipython-input-8-58ce4ac8edc5>, line 1)